/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// variables
$primary-color: #69c8c4;
$text-color: #585858;

$navbar-background-color: #627daa;
$navbar-border-color: #5e7da9;
$navbar-link-color: #fff;
$navbar-link-color-hover: #f1f1f1;

body {
  font-size: 16px;
}

h1 {
  color: $text-color;
  font-size: 200%;
  text-align: center;
}

h1:after {
  display: block;
  content: "";
  width: 30%;
  height: 2px;
  margin-left: 35%;
  margin-top: 16px;
  background-color: $primary-color;
}

.jumbotron {
  background-image: url(https://financesonline.com/uploads/2015/05/saas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: top;
  
  height: 280px;
}

// navbar styles

.navbar-default {
  background-color: $navbar-background-color;
  border-color: $navbar-border-color;
}

.navbar-default .navbar-brand {
  color: $navbar-link-color;
}

.navbar-default .navbar-brand:hover {
  color: $navbar-link-color-hover;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: $navbar-link-color;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
  color: $navbar-link-color-hover;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #5b749e;
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}