/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// variables
$primary-color: #ff8585;
$text-color: #585858;

body {
  font-size: 22px;
}

h1 {
  color: $text-color;
  font-size: 200%;
}

h1:after {
  display: block;
  content: "";
  width: 30%;
  height: 2px;
  margin-left: 35%;
  margin-top: 16px;
  background-color: $primary-color;
}